<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
	<title>Raksire Oy - Evästeet</title>
	<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="8c1bd67f-2d8f-4826-b6b8-7bd4d126baaf" data-blockingmode="auto" type="text/javascript"></script>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static "Bootstrap16.04.css" %}">


	<!-- jquery-->
	<script src="https://code.jquery.com/jquery-3.4.0.min.js" crossorigin="anonymous"></script>



</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVZV4SJT8D"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-GVZV4SJT8D');
	 gtag('config', 'AW-11171081614');
</script>


<body id="desktop">
	<div class="col-sm-12">
		<div class="col-sm-12 p-4">
			<a class="btn btn-dark" href="Finnish">Takaisin</a>
		</div>
<script id="CookieDeclaration" src="https://consent.cookiebot.com/7258ad5f-6bf0-4ac5-a0c3-ad570a6dcfb5/cd.js" type="text/javascript" async></script>
	</div>
</body>
