<!DOCTYPE html>

{% load static %}
{% load bootstrap5 %}

<style>
.text-link {
  color: #757575;
  text-decoration: none;
  transition: color 0.3s;
}

.text-link:hover {
  color: red;
}
</style>
<footer class="col-sm-12" id="Sticky" style="background-color: black;">

  <div class="col-sm-12 mt-2" style="border-bottom: solid 1px gray; background-color: rgba(0, 0, 0, 0.7); padding: 20px;">

    <div class="row">

      <div class="col-sm-2">
      </div>

      <div class="col-sm-3 text-left">
        <a href="" class="logo"><img src="/static/I.komsi_logo.png" alt="" class="img-fluid" width="180px;"></a>

        <p class="mt-3" style="color: #757575;">
          I.Komsi Oy on erikoistunut kattotöihin ja korjausrakentamiseen. Jos etsit luotettavaa ja ammattitaitoista toimijaa, ota yhteyttä – olipa kyseessä uuden katon rakentaminen tai vanhan korjaus. Meillä on laaja kokemus kattotöistä ja korjausrakentamisesta, ja talvisin tarjoamme myös kattojen lumenpudotuspalvelua.

          <br><br>Valitse I.Komsi Oy, kun tarvitset asiantuntevaa ja luotettavaa palvelua kaikissa kattotöissä.

        </p>

      </div>

      <div class="col-sm-3 text-left">
        <p class="text-white h5 mt-3">Sivustolinkit</p>
        <p class="mt-3 p-2" style="color: #757575;">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
          </svg>
          <a href="#" class="text-link">Kattotyöt</a><br>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
          </svg>
          <a href="#" class="text-link">Korjausrakentaminen</a><br>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
          </svg>
          <a href="#" class="text-link">Kattolumityöt</a><br>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
          </svg>
          <a href="#" class="text-link">Referenssit</a><br>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
          </svg>
          <a href="#" class="text-link">Ajankohtaista</a><br>

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-link" viewBox="0 0 16 16">
            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>
          </svg>
          <a href="#" class="text-link">Yhteydenotto</a>
        </p>
      </div>

      <div class="col-sm-3 text-left">
        <p class="text-white h5 mt-3">Yhteystiedot</p>
        <p class="mt-3" style="color: #757575;">
          I.Komsi Oy<br>
          Y-tunnus: 1466883-7<br>
          Puh: 040 6618 444<br>
          Sähköposti: myynti@komsi.net<br><br>
          <p style="color:#afadad;">Osoite:<br>Vellamonkatu 16-18 LH3<br>
                    00550 Helsinki</p>


        </p>

      </div>

  </div>
  <div class="col-sm-12 text-center mt-2" style="color:#afadad;">
    <a href="https://www.nipe.fi" class="text-center h6">
      <a href="/Cookies" class="text-white h6">Evästeet</a> | Copyright @ I.Komsi Oy 2024 |
      Toteutus <a class="h6" href="https://www.nipe.fi">Nipe Digital Solutions Oy</a>
    </a>
  </div>

</footer>

<style>

#Sticky {
	border-top: 2px solid rgba(219, 10, 10, 1);
	left: 0;
	bottom: 0;
	width: 100%;
	margin-left: 0 !important; /* Remove the default left margin */
	margin-right: 0 !important; /* Remove the default right margin */
	padding: 0 !important;
}

</style>
