

{% load static %}


<div class="col-sm-12 text-white p-1 text-center picture" title="Rakennuspalvelut Raksire Oy klaukkala" id="middlepicture" >
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 mt-5 text-white" >
      {% if HomePosted %}

    <p class="h2 p-2"> Kiitos, Olemme vastaanottaneet viestinne. Olemme yhteydessä teihin mahdollisimman pian! </p>

    {% endif %}

    {% if English %}
    <div class="col-sm-12 text-white bg-dark mt-5 firsttextfont" style="opacity: 0.8;" id="firsttext" style="display: none;">
        <p>Raksire Oy<br>Construction services</p>
        <p class="h5 p-2 huolellisestitexti"> Construction projects from beginning to end </p>
        <p class="h5 p-2 btn btn-primary btn-large Tietoapainike"> About us</p>
    </div>

    {% else %}
      <div class="col-sm-12 text-white text-center mt-5 bg-dark firsttextfont" style="opacity: 0.8;" id="firsttext" style="display: none;">
    <p>Luotettavaa sähköurakointia ja ammattitaitoista rakentamista</p>
    <p class="h5 p-2 huolellisestitexti"> Kokonaisvaltaista sähköurakointia- me hoidamme kaiken suunnittelusta toteutukseen </p>
    <p class="h5 p-4 btn btn-primary btn-large Tietoapainike" > Yhteystiedot </p>
      </div>
    {% endif %}

      <script>


        $(document).ready(function(){

            $("#firsttext").hide().fadeIn(2000)

        });



      </script>

      <div class="col-sm-12 mt-1">

        <div class="row">

          <div class="col-sm-2">
          </div>

            <div class="col-sm-8 mt-3 h4">
              <div class="row">

                <div class="col-sm-2">
                </div>

                  <div class="col-sm-2 text-white">

                  </div>

                <div class="col-sm-4 firstchange">
                <i id="Edellinen" class="fa-solid fa-user fa-arrow-left"></i> <button type="button" class="btn btn-dark btn-circle btn-md firstbutton" style=" border-style: solid; border-color: yellow;" >1</button> <button type="button" class="btn btn-second btn-circle btn-md secondbutton">2</button> <button type="button" class="btn btn-second btn-circle btn-md thirdbutton">3</button> <i id="Seuraava" class="fa-solid fa-user fa-arrow-right"></i>
                </div>
                <div class="col-sm-4 firstchange2">
                <i id="Edellinen" class="fa-solid fa-user fa-arrow-left"></i> <button type="button" class="btn btn-dark btn-circle btn-md firstbutton" style=" border-style: solid; border-color: yellow;" >1</button> <button type="button" class="btn btn-second btn-circle btn-md secondbutton">2</button> <button type="button" class="btn btn-second btn-circle btn-md thirdbutton">3</button> <i id="Seuraava" class="fa-solid fa-user fa-arrow-right"></i>
                </div>



                <div class="col-sm-2">
                </div>
              </div>

            </div>

          </div>

          <div class="col-sm-2">
          </div>
        </div>


<script src="https://kit.fontawesome.com/cf05c34779.js" crossorigin="anonymous"></script>

    </div>

<div class="col-sm-2">
</div>

</div>
</div>
<div class="col-sm-12 text-white p-1 text-center picture" style="display:none;" id="middlepicture2" >
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 mt-5 text-white" >

      {% if English %}
      <div class="col-sm-12 text-white bg-dark mt-5 firsttextfont" id="firsttext" style="opacity: 0.8;" style="display: none;">
          <p>Raksire Oy<br>Construction services</p>
          <p class="h5 p-2 huolellisestitexti"> Construction projects from beginning to end </p>
          <p class="h5 p-4 btn btn-primary btn-large Tietoapainike"> About us</p>
      </div>

      {% else %}
      <div class="col-sm-12 text-white text-center mt-5 bg-dark firsttextfont" id="firsttext" style="opacity: 0.8;" style="display: none;">
    <p>Luotettavaa sähköurakointia ja ammattitaitoista rakentamista</p>
    <p class="h5 p-2 huolellisestitexti"> Kokonaisvaltaista sähköurakointia- me hoidamme kaiken suunnittelusta toteutukseen </p>
    <p class="h5 p-4 btn btn-primary btn-large Tietoapainike"> Yhteystiedot </p>
      </div>
      {% endif %}




      <div class="col-sm-12 mt-1">

        <div class="row">

          <div class="col-sm-2">
          </div>

            <div class="col-sm-8 mt-3 h4">
              <div class="row">

                <div class="col-sm-2">
                </div>

                  <div class="col-sm-2 text-white">

                  </div>

                <div class="col-sm-4 firstchange">
                <i id="Edellinen" class="fa-solid fa-user fa-arrow-left"></i> <button type="button" class="btn btn-circle btn-md firstbutton">1</button> <button type="button" class="btn btn-dark btn-circle btn-md secondbutton"style="border-style: solid; border-color: yellow;">2</button> <button type="button" class="btn btn-second btn-circle btn-md thirdbutton">3</button> <i id="Seuraava" class="fa-solid fa-user fa-arrow-right"></i>
                </div>
                <div class="col-sm-4 firstchange2">
                <i id="Edellinen" class="fa-solid fa-user fa-arrow-left"></i> <button type="button" class="btn btn-circle btn-md firstbutton" >1</button> <button type="button" class="btn btn-dark btn-circle btn-md secondbutton"style="border-style: solid; border-color: yellow;">2</button> <button type="button" class="btn btn-second btn-circle btn-md thirdbutton">3</button> <i id="Seuraava" class="fa-solid fa-user fa-arrow-right"></i>
                </div>



                <div class="col-sm-2">
                </div>
              </div>

            </div>

          </div>

          <div class="col-sm-2">
          </div>
        </div>




    </div>


</div>
</div>
<div class="col-sm-12 text-white p-1 text-center picture" style="display:none;" id="middlepicture3" >
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 mt-5 text-white" >

      {% if English %}
      <div class="col-sm-12 text-white bg-dark mt-5 firsttextfont" style="opacity: 0.8;" id="firsttext" style="display: none;">
          <p>Raksire Oy<br>Construction services</p>
          <p class="h5 p-2 huolellisestitexti"> Construction projects from beginning to end </p>
          <p class="h5 p-4 btn btn-primary btn-large Tietoapainike"> Yhteystiedot</p>
      </div>

      {% else %}
      <div class="col-sm-12 text-white text-center mt-5 bg-dark firsttextfont" style="opacity: 0.8;" id="firsttext" style="display: none;">
    <p>Luotettavaa sähköurakointia ja ammattitaitoista rakentamista</p>
    <p class="h5 p-2 huolellisestitexti"> Kokonaisvaltaista sähköurakointia- me hoidamme kaiken suunnittelusta toteutukseen </p>
    <p class="h5 p-4 btn btn-primary btn-large Tietoapainike"> Yhteystiedot </p>
      </div>
      {% endif %}




      <div class="col-sm-12 mt-1">

        <div class="row">

          <div class="col-sm-2">
          </div>

            <div class="col-sm-8 mt-3 h4">
              <div class="row">

                <div class="col-sm-2">
                </div>

                  <div class="col-sm-2 text-white">

                  </div>

                <div class="col-sm-4 firstchange">
                <i id="Edellinen" class="fa-solid fa-user fa-arrow-left"></i> <button type="button" class="btn  btn-circle btn-md firstbutton"  >1</button> <button type="button" class="btn btn-second btn-circle btn-md secondbutton">2</button> <button type="button" class="btn btn-dark btn-circle btn-md thirdbutton" style="border-style: solid; border-color: yellow;">3</button> <i id="Seuraava" class="fa-solid fa-user fa-arrow-right"></i>
                </div>
                <div class="col-sm-4 firstchange2">
                <i id="Edellinen" class="fa-solid fa-user fa-arrow-left"></i> <button type="button" class="btn  btn-circle btn-md firstbutton"  >1</button> <button type="button" class="btn btn-second btn-circle btn-md secondbutton">2</button> <button type="button" class="btn btn-dark btn-circle btn-md thirdbutton" style="border-style: solid; border-color: yellow;">3</button> <i id="Seuraava" class="fa-solid fa-user fa-arrow-right"></i>
                </div>



                <div class="col-sm-2">
                </div>
              </div>

            </div>

          </div>

          <div class="col-sm-2">
          </div>
        </div>


<script src="https://kit.fontawesome.com/cf05c34779.js" crossorigin="anonymous"></script>

    </div>

<div class="col-sm-2">
</div>
</div>
</div>

<script>
$(document).ready(function() {
    var currentDiv = 0; // Start with the first div (0-based index)
    var totalDivs = $(".picture").length; // Total number of divs with the 'picture' class

    function toggleDiv() {
        // Hide all divs with the 'picture' class
        $(".picture").hide();

        // Show the current div
        $(".picture").eq(currentDiv).show();

        // Increment currentDiv and loop back to 0 if necessary
        currentDiv = (currentDiv + 1) % totalDivs;
    }

    // Initial call to show the first div
    toggleDiv();

    // Automatically switch divs every 5 seconds (5000 milliseconds)
    setInterval(toggleDiv, 2000);
});
</script>

<script>

  setInterval(myTimer, 2000);
  function myTimer() {
    var image_1 = $("#middlepicture");
    var img1_src = "https://cdn-icons-png.flaticon.com/128/5968/5968350.png";
    var img2_src = "https://cdn-icons-png.flaticon.com/128/1336/1336494.png";

    if (image_1.attr("src") == img1_src) {

        image_1.attr("src", img2_src);
      } else {
        image_1.attr("src", img1_src);
      }
  }

    $('#Edellinen').click(function () {
    $('#middlepicture').hide();
    $('#middlepicture2').show();
})

$('#Seuraava').click(function () {
$('#middlepicture').hide();
$('#middlepicture3').show();
})


$('#Middlepictureback').click(function () {
$('#middlepicture2').hide();
$('#middlepicture').show();
})

$('#Middlepicturenext').click(function () {
$('#middlepicture2').hide();
$('#middlepicture3').show();
})

$('#Thidpicturenext').click(function () {
$('#middlepicture3').hide();
$('#middlepicture').show();
})

$('#Thidpictureback').click(function () {
$('#middlepicture3').hide();
$('#middlepicture2').show();
})


$('#Midd').click(function () {
$('#middlepicture').hide();
$('#middlepicture3').show();
})

$('.firstbutton').click(function () {
$('#middlepicture2').hide();
$('#middlepicture3').hide();
$('#middlepicture').show();
})

$('.secondbutton').click(function () {
$('#middlepicture').hide();
$('#middlepicture3').hide();
$('#middlepicture2').show();
})

$('.thirdbutton').click(function () {
$('#middlepicture').hide();
$('#middlepicture2').hide();
$('#middlepicture3').show();

})


</script>



<style>



  @media screen and (min-width: 1200px) {
    .huolellisestitexti{
      font-size:1.5rem; !important
    }
    .Tietoapainike{
      margin-top:2rem; !important
    }
    .firsttextfont {
      font-size: 2rem;
      padding:6rem;
    }

    #middlepicture{
    box-shadow: 0 8px 6px -6px black;
      background-image: url("{% static "korjausrakentaminen.jpeg" %}");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0;
      display: block;
      background-position: 60% 40%;
      height: 100vh;
    }


    #middlepicture2{

      background-image: url("{% static "Sahkoasennus.jpg" %}");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0;
      display: block;
      background-position: 60% 40%;
      height: 100vh;
    }

    #middlepicture3{

      background-image: url("{% static "halli.jpg" %}");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }

    .firstchange{
      display:none;
    }
  }

@media screen and (max-width: 1200px) {
  #firsttext {
    font-size: 1.8rem;
    padding:10px;
  }

  .firstchange2{
    display:none;
  }

  #middlepicture{
  box-shadow: 0 8px 6px -6px black;
    background-image: url("{% static "korjausrakentaminen.jpeg" %}");
    background-repeat: no-repeat;
    height: 100vh;

    background-position: 60% 40%;
  }

  #middlepicture2{

    background-image: url("{% static "Sahkoasennus.jpg" %}");
    background-repeat: no-repeat;

    height: 100vh;
    background-position: 30% 60%;
  }

  #middlepicture3{

    background-image: url("{% static "halli.jpg" %}");
    object-fit: none;
    object-position: left bottom;
    height: 100vh;
    background-position: 80% 20%;
  }
}

</style>
