{% extends "Base.html" %}

{% load static %}

{% block content %}

<Head>
    <title>Sähköiset turvaratkaisut kotiin ja yrityksiin - Raksire Oy</title>
    <meta name="description" content="Kattavat sähköiset turvaratkaisut takaavat kotisi ja yrityksesi turvallisuuden. Tutustu tarjoamiimme ratkaisuihin!" />
    <!-- keywords -->
    <meta name="keywords" content="sähköinen turvajärjestelmä, kotiturvallisuus, yritysturvallisuus, hälytysjärjestelmät" />
</Head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
<!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVZV4SJT8D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GVZV4SJT8D');
  gtag('config', 'AW-11171081614');
</script>



<div class="col-sm-12 text-dark text-center bg-white p-2" id="refrencefirst">

  {% if English %}
  <div class="col-sm-12 mt-4 h3">Construction services Raksire Oy</div>
  <div class="col-sm-12 h5 mt-4" style="color: gray;">Previous projects listed below<br><br>
    <a href="Yhteydenotto" class="h5" style="color: black;">Contact us for free cost estimate</a>
  </div>
  {% else %}
  <div class="col-sm-12" style="height:400px;">
  <div class="col-sm-12" style="margin-top:250px; height:80px; color: white;"><h1>Referenssit</h1>
  </div>
  <div class="col-sm-12 mt-4" style="color: white;"><h5>Tutustu alla aikaisempiin projekteihimme</h5><br><br>

  </div>
  </div>

  {% endif %}
  </div>


  <div class="row mt-4 bg-white" style="border-top: 3px solid #fcd806;">
    <div class="col-sm-2" style="background-color:#292826;">
    </div>
    <div class="col-sm-8  text-left" style="background-color:#292826;">
      <div class="col-sm-12 h5 p-4" style="line-height: 30px; color: white; font-family: faricy-new-web,Arial,sans-serif; color: white;">Haluatko sähköistyspalveluja, jotka ovat ammattitaitoisia, luotettavia ja edullisia? Tarjoamme laadukkaita sähköistyspalveluita, jotka vastaavat kaikkiin tarpeisiisi.<br><br>
        <a href="Yhteydenotto" class="btn btn-md text-dark" style="background-color:#fcd806;">Ota yhteyttä</a>
      </div>

    </div>
    <div class="col-sm-2" style="background-color:#292826;">
    </div>

    <div class="col-sm-12 text-center mt-4" id="linksfordesktop">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" style="font-size: 0.8rem; font-family:  faricy-new-web,Arial,sans-serif; color: #292940; font-weight: 400; line-height: 25px;">
          <div class="row">

            <div class="col-sm-6 mt-5 text-left h5">

            <a class="links" href="/Hallityomaaview"style="color: black; "><b>Teollisuushallin sähköurakointi</b></a><br><br>
            Kohde: Teollisuushalli Sähköurakointi<br>Uudiskohde<br>Karhunkorpi Nurmijärvi<br>
            v.2022-2023<br><br>
            Tarvitsetko ammattitaitoista urakoitsijaa teollisuushallin sähköurakointiin? Meidän tiimimme on erikoistunut tarjoamaan kattavia sähköurakointipalveluita teollisuustiloille, ja meillä on vankka kokemus teollisuushallien sähköasennuksista.<br><br>

Teollisuushallin sähköurakointi vaatii erityistä osaamista ja tarkkuutta. Meidän ammattitaitoiset sähköurakoitsijamme käyttävät nykyaikaisia työkaluja ja noudattavat alan parhaita käytäntöjä varmistaakseen turvalliset ja toimivat sähköjärjestelmät teollisuushallissasi.<br><br>

Ymmärrämme, että teollisuustilan sähköjärjestelmät ovat tärkeitä liiketoimintasi sujuvuuden kannalta. Tarjoamme kattavia sähköurakointipalveluita, kuten sähköasennukset, kaapeloinnit, valaistusratkaisut, voimavirta-asennukset ja muut tarvittavat sähkötyöt.<br><br>
Hakusanat: teollisuushallin sähköurakointi Klaukkala, sähköasennukset, kaapelointi, valaistusratkaisut, voimavirta-asennukset, ammattitaitoinen sähköurakoitsija, luotettava sähköurakointi.<br><br>
            <a class="btn btn-lg btn-dark mt-3" href="/Hallityomaaview">Näytä lisää kuvia</a>

            </div>

            <div class="col-sm-6 mt-5">
            <img class="mt-2" src="{% static 'Teollisuushalli kuva.jpeg' %}"; style="width:100%;"></img>
            </div>

            <div class="col-sm-6 mt-5 text-left h5">
            {% if Rengashalliview %}
            <a class="links" href="/Rengashalliview "style="color: black; "><b>Myymäläremontti / purku- ja väliseinä työt</b></a><br><br>
            Yhteistyössä: Rakennusliike Tekson Oy / Landervibe Oy<br>
            v.2023<br><br>
            Tarvitsetko luotettavaa ja ammattitaitoista urakoitsijaa purku- ja väliseinätöihin Klaukkalassa? Meidän tiimimme on erikoistunut tarjoamaan kattavia remonttipalveluita, jotka sisältävät purkutöitä sekä uusien väliseinien rakentamista tai olemassa olevien väliseinien muokkausta.<br><br>

Purku- ja väliseinätyöt ovat olennainen osa monia remontteja, oli kyse sitten kodista, liiketilasta tai toimistosta. Ammattitaitoiset urakoitsijamme käyttävät asianmukaisia työvälineitä ja menetelmiä varmistaakseen turvallisen ja tehokkaan purkuprosessin.<br><br>

Uusien väliseinien rakentamisessa tai olemassa olevien väliseinien muokkauksessa tavoitteenamme on luoda toimiva ja esteettisesti miellyttävä tila. Käytämme korkealaatuisia materiaaleja ja toteutamme työn huolellisesti varmistaaksemme kestävät ja tyylikkäät väliseinäratkaisut.<br><br>
Hakusanat: purku- ja väliseinätyöt Klaukkala, ammattitaitoiset remonttipalvelut, turvallinen purkutyö, väliseinien rakentaminen, väliseinien muokkaus, luotettava urakoitsija.<br><br>
            <a class="btn btn-lg btn-dark mt-3" href="/Rengashalliview">Näytä lisää kuvia</a>
            {% else %}
            <a class="links" href="/Rengashalliview "style="color: black; "><b>Myymäläremontti / purku- ja väliseinä työt</b></a><br><br>
            Yhteistyössä: Rakennusliike Tekson Oy / Landervibe Oy<br>
            v.2023<br><br>
            Tarvitsetko luotettavaa ja ammattitaitoista urakoitsijaa purku- ja väliseinätöihin Klaukkalassa? Meidän tiimimme on erikoistunut tarjoamaan kattavia remonttipalveluita, jotka sisältävät purkutöitä sekä uusien väliseinien rakentamista tai olemassa olevien väliseinien muokkausta.<br><br>

Purku- ja väliseinätyöt ovat olennainen osa monia remontteja, oli kyse sitten kodista, liiketilasta tai toimistosta. Ammattitaitoiset urakoitsijamme käyttävät asianmukaisia työvälineitä ja menetelmiä varmistaakseen turvallisen ja tehokkaan purkuprosessin.<br><br>

Uusien väliseinien rakentamisessa tai olemassa olevien väliseinien muokkauksessa tavoitteenamme on luoda toimiva ja esteettisesti miellyttävä tila. Käytämme korkealaatuisia materiaaleja ja toteutamme työn huolellisesti varmistaaksemme kestävät ja tyylikkäät väliseinäratkaisut.<br><br>
Hakusanat: purku- ja väliseinätyöt Klaukkala, ammattitaitoiset remonttipalvelut, turvallinen purkutyö, väliseinien rakentaminen, väliseinien muokkaus, luotettava urakoitsija.<br><br>
            <a class="btn btn-lg btn-dark mt-3" href="/Rengashalliview">Näytä lisää kuvia</a>
            {% endif %}
            </div>

            <div class="col-sm-6 mt-5">
            <img class="mt-2" src="{% static 'PurkuRemontti.jpeg' %}"; style="width:100%;"></img>
            </div>


            <div class="col-sm-6 mt-5 text-left h5" id="Rivitaloremontti">
            {% if Rivitaloremonttiview %}
            <a class="links" href="/Rivitaloremonttiview "style="color: black; "><b>Rivitalon muutostyöremontti / Klaukkala</b></a><br><br>
            Kohde: Rivitalon remontti klaukkalassa<br>
            v.2023<br><br>
            Tarvitsetko luotettavaa ja ammattitaitoista urakoitsijaa rivitalon muutostyöremonttiin? Meidän tiimimme on erikoistunut tarjoamaan kattavia muutostyöpalveluita, jotka täyttävät tarpeesi ja odotuksesi.<br><br>

            Rivitalon muutostyöremontti voi sisältää erilaisia tarpeita, kuten huonejärjestelyjen muutoksia, seinien tai lattioiden uudelleenrakentamista, keittiön tai kylpyhuoneen päivitystä tai muiden tilojen parantamista. Meidän kokeneet ammattilaisemme osaavat toteuttaa nämä muutokset sujuvasti ja huolellisesti.<br><br>

            Panostamme laatuun ja tarkkuuteen jokaisessa muutostyöremontissa. Käytämme laadukkaita materiaaleja ja työkaluja varmistaaksemme kestävät ja tyylikkäät lopputulokset. Meidän ammattitaitoinen tiimimme huolehtii myös siitä, että muutostyö tapahtuu sovitussa aikataulussa ja budjetissa.<br><br>
            <br><br>
            <a class="btn btn-lg btn-dark mt-3" href="/Rivitaloremonttiview">Näytä lisää kuvia</a>
            {% else %}
            <a class="links" href="/Rivitaloremonttiview "style="color: black; "><b>Rivitalon muutostyöremontti / Klaukkala</b></a><br><br>
            Kohde: Rivitalon remontti klaukkalassa<br>
            v.2023<br><br>
            Tarvitsetko luotettavaa ja ammattitaitoista urakoitsijaa rivitalon muutostyöremonttiin? Meidän tiimimme on erikoistunut tarjoamaan kattavia muutostyöpalveluita, jotka täyttävät tarpeesi ja odotuksesi.<br><br>

            Rivitalon muutostyöremontti voi sisältää erilaisia tarpeita, kuten huonejärjestelyjen muutoksia, seinien tai lattioiden uudelleenrakentamista, keittiön tai kylpyhuoneen päivitystä tai muiden tilojen parantamista. Meidän kokeneet ammattilaisemme osaavat toteuttaa nämä muutokset sujuvasti ja huolellisesti.<br><br>

            Panostamme laatuun ja tarkkuuteen jokaisessa muutostyöremontissa. Käytämme laadukkaita materiaaleja ja työkaluja varmistaaksemme kestävät ja tyylikkäät lopputulokset. Meidän ammattitaitoinen tiimimme huolehtii myös siitä, että muutostyö tapahtuu sovitussa aikataulussa ja budjetissa.<br><br>
            <br>Hakusanat: rivitalon muutostyöremontti Klaukkala, ammattitaitoinen urakoitsija, laadukkaat muutostyöpalvelut, huonejärjestelyjen muutokset, keittiön päivitys, kylpyhuoneremontti, luotettava muutostyöurakoitsija.
            <br><a class="btn btn-lg btn-dark mt-3" href="/Rivitaloremonttiview">Näytä lisää kuvia</a>

            {% endif %}
            </div>

            <div class="col-sm-6 mt-5">
            <img class="mt-2" src="{% static 'Rivitalo remontti.jpeg' %}"; style="width:100%;"></img>
            </div>


            <div class="col-sm-6 mt-5 text-left h5">
            {% if Lumiesteidenasennusview %}
            <a class="links" href="/Lumiesteidenasennusview "style="color: black; "><b>Lumiesteiden asennus ja aidan korjaus</b></a><br><br>
            Kohde: Lumiesteiden asennus klaukkala<br>
            v.2023<br>
            <a class="btn btn-lg btn-dark mt-3" href="/Lumiesteidenasennusview">Näytä lisää kuvia</a>
            {% else %}
            <a class="links" href="/Lumiesteidenasennusview "style="color: black; "><b>Lumiesteiden asennus ja aidan korjaus</b></a><br><br>
            Kohde: Lumiesteiden asennus klaukkala<br>
            v.2023<br><br>

            Tarvitsetko luotettavaa lumiesteiden asennuspalvelua? Meidän ammattitaitoinen tiimimme on erikoistunut turvallisten ja kestävien lumiesteiden asennukseen.<br><br>

Lumiesteiden asennus on tärkeä toimenpide, joka auttaa estämään lumimassojen putoamisen katolta ja siten suojaa taloasi ja sen ympäristöä. Turvallisuuden takaamiseksi me käytämme korkealaatuisia materiaaleja ja varmistamme asennuksen kestävyyden.<br><br>

Olipa kyseessä rivitalo tai omakotitalo, tarjoamme räätälöityjä lumiesteiden asennusratkaisuja Klaukkalassa. Ammattitaitoiset asentajamme huolehtivat siitä, että lumiesteet asennetaan oikein ja niiden sijoittelu on optimaalinen lumikuormien hallitsemiseksi.<br><br>
Hakusanat: lumiesteiden asennus Klaukkala, talon lumiesteet, lumiesteiden turvallinen asennus, lumiesteiden kestävyys, lumikuorman hallinta, ammattitaitoinen lumiesteiden asennus.
            <a class="btn btn-lg btn-dark mt-3" href="/Lumiesteidenasennusview">Näytä lisää kuvia</a>
            {% endif %}
            </div>

            <div class="col-sm-6 mt-5">
            <img class="mt-2" src="{% static 'Lumiesteiden asennus.jpeg' %}"; style="width:100%;"></img>
            </div>




            <div class="col-sm-6 mt-5 text-left h5">
            {% if Rivitalonsahkourakointiview %}
            <a class="links" href="/Rivitalonsahkourakointiview"style="color: black; "><b>Rivitalon sähköurakointi / Klaukkala</b></a><br><br>
            Kohde: Rivitalon sähköurakointi<br>
            v.2023<br><br>
            Olemme ylpeitä voidessamme jakaa tarinan yhdestä aikaisemmasta onnistuneesta sähköurakointiprojektistamme rivitalokohteessa Klaukkalassa. Asiakkaamme lähestyi meitä tarpeella saada sähköurakointi suoritettua heidän uudessa rivitalossa, ja meidän tiimimme oli valmis tarttumaan haasteeseen.
            <br>
            Hakusanat: sähköurakointi Klaukkala, sähköasennukset, sähköjärjestelmien päivitys, energiatehokkuus, älykkäät sähköjärjestelmät, valaistusratkaisut, ammattitaitoinen sähköurakoitsija, luotettava sähköurakointi.
            <br><br>
            <a class="btn btn-lg btn-dark mt-3" href="/Rivitalonsahkourakointiview">Näytä lisää kuvia</a>
            {% else %}
            <a class="links" href="/Rivitalonsahkourakointiview "style="color: black; "><b>Rivitalon sähköurakointi / Klaukkala</b></a><br><br>
            Kohde: Rivitalon sähköurakointi<br>
            v.2023<br><br>
            Olemme ylpeitä voidessamme jakaa tarinan yhdestä aikaisemmasta onnistuneesta sähköurakointiprojektistamme rivitalokohteessa Klaukkalassa. Asiakkaamme lähestyi meitä tarpeella saada sähköurakointi suoritettua heidän rivitalossa, ja meidän tiimimme oli valmis tarttumaan haasteeseen.<br>
            <br>
            Hakusanat: sähköurakointi Klaukkala, sähköasennukset, sähköjärjestelmien päivitys, energiatehokkuus, älykkäät sähköjärjestelmät, valaistusratkaisut, ammattitaitoinen sähköurakoitsija, luotettava sähköurakointi.
            <br><a class="btn btn-lg btn-dark mt-3" href="/Rivitalonsahkourakointiview">Näytä lisää kuvia</a>
            {% endif %}
            </div>

            <div class="col-sm-6 mt-5">
            <img class="mt-2 fadein" src="{% static 'Rivitalo sahkourakointi.jpeg' %}"; style="width:100%;"></img>
            </div>




            <div class="col-sm-6 mt-5 text-left h5">
            {% if Uudisrakentaminenview %}
            <a class="links" href="/Uudisrakentaminenview "style="color: black; "><b>Omakotitalo uudisrakentaminen</b></a><br><br>
            Kohde: Omk-talo/ Uudisrakentaminen/Helsinki<br>
            v.2022<br>
            Yhteistyössä: Rakennusliike Tekson Oy/RK&AK Rakennus Oy<br><br>
            Suunnitteletko omakotitalon uudisrakentamista Klaukkalassa? Tarvitsetko ammattitaitoista urakoitsijaa hoitamaan sähköurakoinnin uudisrakennusprojektissasi? Meidän tiimimme on erikoistunut tarjoamaan kattavia sähköurakointipalveluita omakotitalojen uudisrakentamiseen, ja meillä on vankka kokemus vastaavista projekteista.<br><br>

Omakotitalon sähköurakointi on tärkeä osa uudisrakentamista, ja sen on oltava suunniteltu ja toteutettu huolellisesti. Meidän ammattitaitoiset sähköurakoitsijamme käyttävät nykyaikaisia työkaluja ja noudattavat alan standardeja varmistaakseen turvallisen, toimivan ja energiatehokkaan sähköjärjestelmän omakotitalossasi.<br><br>

            <a class="btn btn-lg btn-dark mt-3" href="/Uudisrakentaminenview">Näytä lisää kuvia</a>
            {% else %}
            <a class="links" href="/Uudisrakentaminenview "style="color: black; "><b>Omakotitalo uudisrakentaminen</b></a><br><br>
            Kohde: Omk-talo/ Uudisrakentaminen/Helsinki<br>
            v.2022<br>
            Yhteistyössä: Rakennusliike Tekson Oy/RK&AK Rakennus Oy<br><br>
            Suunnitteletko omakotitalon uudisrakentamista Klaukkalassa? Tarvitsetko ammattitaitoista urakoitsijaa hoitamaan sähköurakoinnin uudisrakennusprojektissasi? Meidän tiimimme on erikoistunut tarjoamaan kattavia sähköurakointipalveluita omakotitalojen uudisrakentamiseen, ja meillä on vankka kokemus vastaavista projekteista.<br><br>

Omakotitalon sähköurakointi on tärkeä osa uudisrakentamista, ja sen on oltava suunniteltu ja toteutettu huolellisesti. Meidän ammattitaitoiset sähköurakoitsijamme käyttävät nykyaikaisia työkaluja ja noudattavat alan standardeja varmistaakseen turvallisen, toimivan ja energiatehokkaan sähköjärjestelmän omakotitalossasi.<br><br>

            <br><a class="btn btn-lg btn-dark mt-3" href="/Uudisrakentaminenview">Näytä lisää kuvia</a>
            {% endif %}
            </div>

<!-- kerrostalo -->
            <div class="col-sm-6 mt-5">
            <img class="mt-2" src="{% static 'Uudisrakentaminen Helsinki.jpeg' %}"; style="width:100%;"></img>
            </div>


            <div class="col-sm-6 mt-5 text-left h5">
            {% if Hietaniemenkadultaview %}
            <a class="links" href="/Hietaniemenkadultaview "style="color: black; "><b>Kerrostalon remontti / Helsinki</b></a><br><br>
            Kohde: Kerrostalo/ Remontti/Helsinki<br>
            v.2023<br><br>
            Kerrostaloremontissamme teimme merkittäviä parannuksia asukkaiden mukavuuden ja turvallisuuden varmistamiseksi. Ensinnäkin, päivitimme sähköjärjestelmän uusilla ratkaisuilla. Vanhat sähköjohdot ja pistorasiat vaihdettiin nykyaikaisiin ja turvallisiin vaihtoehtoihin. Tämä paransi huomattavasti sähkönjakelua ja vähensi mahdollisia sähköongelmia.<br><br>

            Maalauspuoli oli myös osa huolellista remonttiamme. Uudet värit ja huolellisesti valitut maalipinnat toivat raikkaan ilmeen ja viihtyisyyttä jokaiseen tilaan.

            <a class="btn btn-lg btn-dark mt-3" href="/Hietaniemenkadultaview">Näytä lisää kuvia</a>
            {% else %}
            <a class="links" href="/Hietaniemenkadultaview "style="color: black; "><b>Kerrostalon remontti / Helsinki</b></a><br><br>
            Kohde: Kerrostalo/ Remontti/Helsinki<br>
            v.2023<br><br>
            Kerrostaloremontissamme teimme merkittäviä parannuksia asukkaiden mukavuuden ja turvallisuuden varmistamiseksi. Ensinnäkin, päivitimme sähköjärjestelmän uusilla ratkaisuilla. Vanhat sähköjohdot ja pistorasiat vaihdettiin nykyaikaisiin ja turvallisiin vaihtoehtoihin. Tämä paransi huomattavasti sähkönjakelua ja vähensi mahdollisia sähköongelmia.<br><br>

            Maalauspuoli oli myös osa huolellista remonttiamme. Uudet värit ja huolellisesti valitut maalipinnat toivat raikkaan ilmeen ja viihtyisyyttä jokaiseen tilaan.


            <br><a class="btn btn-lg btn-dark mt-3" href="/Hietaniemenkadultaview">Näytä lisää kuvia</a>
            {% endif %}
            </div>

            <div class="col-sm-6 mt-5">
            <img class="mt-2" src="{% static 'Kerrostalo.jpg' %}"; style="width:100%;"></img>
            </div>


            <div class="col-sm-6 mt-5 text-left h5" >
            {% if yleisesti %}
            <a class="links" href="/Referenssit "style="color: black; "><b>Yleisesti</b></a><br><br>
            Muita kuvia sähköasennuksista ja rakennusprojekteista<br>
            <a class="btn btn-lg btn-dark mt-3" href="/Yleisesti">Näytä lisää kuvia</a>
            {% else %}
            <a class="links" href="/Referenssit "style="color: black; "><b>Yleisesti</b></a><br><br>
            Muita kuvia sähköasennuksista ja rakennusprojekteista<br>
            <br><a class="btn btn-lg btn-dark mt-3" href="/Yleisesti">Näytä lisää kuvia</a>
            {% endif %}
            </div>

            <div class="col-sm-6 mt-5" style="margin-bottom:30px;">
            <img class="mt-2" src="{% static 'Sahkoasennus.jpeg' %}"; style="width:100%;"></img>
            </div>


        </div>

        </div>
        <div class="col-sm-2">
        </div>

      </div>

    </div>

    <div class="col-sm-12 text-center h6 " id="linksformobile">
      <div class="row">

        <div class="col-sm-12 text-left mt-5" style="font-size: 10px;">
          <div class="col-sm-12">
          <p class="text-center" style="font-size: 22px;">
            Kuvia Raksire Oy;n - Aikaisemmista sähkö- ja rakennustöistä.
            </p>
            </div>
          <div class="col-sm-12 mt-5 text-left" style="width:100%">


          <a class="col-sm-12 mt-3 " href="/Hallityomaaview" style="color: black; font-size:16px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg><b> Teollisuushallin sähköurakointi</b><br><br>

        <div class="col-sm-12 mt-2 p2" style="text-align:left; width:100%;" >
          Kohde: Teollisuushalli Sähköurakointi, Uudiskohde, Karhunkorpi Nurmijärvi<br>
          v.2022-2023

            <img class="mt-2" src="{% static 'Teollisuushalli kuva.jpeg' %}"; style="width:100%;"></img>
          <button class="btn btn-md btn-dark mt-3" href="/Hallityomaaview">Katso Lisää kuvia</button>
        </div>

        </a>

          </div>



          <div class="col-sm-12 mt-4">

          <a class="col-sm-12 text-center mt-4 " href="/Rengashalliview "style="color: black; font-size:16px; ">
            <div class="mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
  </svg>

  <b>Myymäläremontti / purku- ja väliseinä työt<br><br></b>
  </div>
  <div class="col-sm-12 mt-2 p2" style="text-align:left; width:100%;" >
    Yhteistyössä: Rakennusliike Tekson Oy / Landervibe Oy<br>
    v.2023<br>
      <img class="mt-2 mb-2" src="{% static 'PurkuRemontti.jpeg' %}"; style="width:100%;"></img>
          <button class="btn btn-md btn-dark mt-3" href="">Katso Lisää kuvia</button>
  </div>

</a>

          </div>
          <div class="col-sm-12 mt-4">

          <a class="col-sm-12 text-center mt-5 " href="/Rivitaloremonttiview "style="color: black; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
  </svg> <b>Rivitalo remontti</b><br><br>
  <div class="col-sm-12 mt-2 p2" style="text-align:left; width:100%;" >
    Kohde: Rivitalon muutostyöremontti Klaukkala<br>
    Yhteistyössä: RK&AK Rakennus team Oy / LVI-Caidon Oy<br>
    v.2023
    <br>
      <img class="mt-2" src="{% static 'Rivitalo remontti.jpeg' %}"; style="width:100%;"></img>
          <button class="btn btn-md btn-dark mt-3" href="">Katso Lisää kuvia</button>
  </div>
</a>

                  </div>


          <div class="col-sm-12 mt-4">

          <a class="col-sm-12 text-center mt-5 " href="/Lumiesteidenasennusview "style="color: black; ">

<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
  </svg>

<b>Lumiesteiden asennus ja aidan korjaus</b><br>

  <div class="col-sm-12 mt-4 p2" style="text-align:left; width:100%;" >
    Kohde: Varastorakennusten lumiesteiden asennukset<br>
    v.2023
    <br>
    <img class="mt-2" src="{% static 'Lumiesteiden asennus.jpeg' %}"; style="width:100%;"></img>
          <button class="btn btn-md btn-dark mt-3" href="">Katso Lisää kuvia</button>
  </div>
</a>

          </div>
          <div class="col-sm-12 mt-4" >


          <a class="col-sm-12 text-center mt-5 " href="/Rivitalonsahkourakointiview" style="color: black;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
            </svg> <b>Rivitalon sähköurakointi</b><br><br>
            <div class="col-sm-12 mt-2 p2" style="text-align:left; width:100%;" >
              Kohde: Rivitalon sähköurakointi / Klaukkala<br>
              v.2023
              <br>
              <img class="mt-2" src="{% static 'Rivitalo sahkourakointi.jpeg' %}"; style="width:100%;"></img>
          <button class="btn btn-md btn-dark mt-3" href="">Katso Lisää kuvia</button>
            </div>
          </a>


          </div>

          <div class="col-sm-12 mt-4" " >


          <a class="col-sm-12 text-center mt-5 " href="/Uudisrakentaminenview" style="color: black;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
            </svg> <b>Omk-talo/ Uudisrakentaminen</b><br><br>
            <div class="col-sm-12 mt-2 p2" style="text-align:left; width:100%;" >
              Kohde: Omk-talo/ Uudisrakentaminen/Helsinki<br>
              v.2022<br>
              Yhteistyössä: Rakennusliike Tekson Oy/RK&AK Rakennus Oy
              <br>
              <img class="mt-2" src="{% static 'Uudisrakentaminen Helsinki.jpeg' %}"; style="width:100%;"></img>
          <button class="btn btn-md btn-dark mt-3" href="">Katso Lisää kuvia</button>
            </div>
          </a>


          </div>

          <div class="col-sm-12 mt-4" " >


          <a class="col-sm-12 text-center mt-5 " href="/Hietaniemenkadultaview" style="color: black;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
            </svg> <b>Kerrostalon remontti</b><br><br>
            <div class="col-sm-12 mt-2 p2" style="text-align:left; width:100%;" >
              Kohde: Kerrostalon/ Sähkö ja maalaustyöt/ Helsinki<br>
              v.2023<br>

              <br>
              <img class="mt-2" src="{% static 'Kerrostalo.jpg' %}"; style="width:100%;"></img>
          <button class="btn btn-md btn-dark mt-3" href="">Katso Lisää kuvia</button>
            </div>
          </a>


          </div>




          <div class="col-sm-12 mt-4" style="margin-bottom:20px;" >

          <a class="col-sm-12 text-center" href="/Yleisesti "style="color: black; " href="/Referenssit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>

  <b>Yleisesti</b><br><br>
  Muita kuvia sähköasennuksista ja rakennusprojekteista<br>

  <br>

<br></a>

          </div>
        </div>
        <div class="col-sm-1">
        </div>

</div>

    </div>


</div>




<script>

$(function() {
 $('#Tietoapainike').click (function() {
   $('html, body').animate({scrollTop: $('section.Tietoa').offset().top }, 'slow');
   // Get Element
   checkBox = document.getElementById('takenBefore');
   // Set the `checked` field to `true`
   checkBox.checked = false
   return false;
 });
});


</script>

<style>


  img{
  opacity:0.9; !important
  transition: 5s ease;
  }

  img:hover{
  opacity:1; !important
  transition: 5s ease;
  }

.links{

}

#refrencefirst{
  background-image: url("{% static "background1.jpg" %}");
  font-size: 3rem;

}

#firstmiddle{
  height:60rem;

}

@media screen and (max-width: 1200px) {
  #secondmiddle {
    font-size: 1.5rem;
  }
  #linksfordesktop{
    display: none;
  }
  #linksformobile{
    padding: 0; !important
  }
  .padding{

    overflow: hidden; !important
  }


}
@media screen and (min-width: 1200px) {
  #linksformobile{
    display:none;
  }

#thirdmiddle{

  border-top: 2px solid gray;
}

#middlepicture{
box-shadow: 0 8px 6px -6px black;
  background-image: url("{% static "Rak1-min.png" %}");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}

#middlepicture2{

  background-image: url("{% static "Rak2.png" %}");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}

#middlepicture3{

  background-image: url("{% static "Rak3.png" %}");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}
body, html {
margin: 0px; !important
padding: 0px; !important
overflow-x:hidden; !important
}
}

</style>


{% endblock %}
