{% extends "new_base.html" %}
{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Luet yhtä blogi kirjoituksista</h2>

          <ol>
            <li><a href="{% url 'home' %}">Etusivu</a></li>
            <li><a href="{% url 'blog_listing_page' %}">Blogi kirjoitus</a></li>
            <li>{{ post.title }}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{{ post.image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">{{ post.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Raksire</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="{{ post.timestamp }}">{{ post.timestamp }}</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                {{ post.content }}
              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% for post in posts %}
                                <div class="post-item clearfix">
                                  <img src="assets/img/blog/blog-recent-1.jpg" alt="">
                                  <h4><a href="{% url 'blog_post_detail' post.slug %}">{{ post.title }}</a></h4>
                                  <time datetime="2020-01-01">{{ post.timestamp }}</time>
                                </div>
                {% endfor %}

              </div><!-- End sidebar recent posts-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
{% endblock %}
