{% extends "new_base.html" %}
{% load static %}
<Head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MNNGQ9KM');</script>
<!-- End Google Tag Manager -->
    <title>Kattotyöt ammattitaidolla - I.Komsi Oy</title>
    <meta name="description" content="Me toteutamme laajasti erilaisia sähköasennusprojekteja sekä yrityksille että yksityisasiakkaille tarjoten palveluitamme myös viikonloppuisin">
    <!-- keywords -->
    <meta name="keywords" content="Sähkötyöt, sähköasennukset, uusimaa, referenssit, sähköasennus">
</Head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
<!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVZV4SJT8D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GVZV4SJT8D');
  gtag('config', 'AW-11171081614');
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    let currentImageIndex = 0;
    const images = document.querySelectorAll('.carousel-image');
    const totalImages = images.length;

    function showNextImage() {
        images[currentImageIndex].style.display = 'none';
        currentImageIndex = (currentImageIndex + 1) % totalImages;
        images[currentImageIndex].style.display = 'block';
    }

    setInterval(showNextImage, 2000);
});
</script>

<style>
  .contained-image {
      overflow: hidden;
      position: relative;
      height: 280px; /* Set your desired height */
      max-width: 100%;
      border-radius: 10px;
  }

  .zoom-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-out; /* Smooth transition for zoom effect */
}

.zoom-image:hover {
    transform: scale(1.1); /* Zoom in effect on hover */
}


</style>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNNGQ9KM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/DSC00464.JPG);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Kattotyöt ammattitaidolla</h2>
              <p class="animate__animated animate__fadeInUp">Olemme erikoistuneet erilaisiin kattotöihin </p>
              <div>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Lue lisää</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/static/DSC_2409.JPG);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Korjausrakentaminen</h2>
              <p class="animate__animated animate__fadeInUp">Meiltä onnistuu erilaiset korjaustyöt</p>
              <div>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Lue lisää</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/static/DSC00465.JPG);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Monipuoliset rakennuspalvelut</h2>
              <p class="animate__animated animate__fadeInUp">Meillä on vuosien kokemus erilaisista rakennustöistä</p>
              <div>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Lue lisää</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about" style="background-color: rgba(234, 234, 234, 1);">
    <div class="container">

      <div class="row no-gutters" style="border-bottom: 2px solid rgba(219, 10, 10, 1) !important;">
      <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
        <div class="p-3 content d-flex flex-column justify-content-center">
          <h3>Meiltä löytyy ammattilaiset kaikille kattotyypeille. Korjaamme vanhaa ja asennamme uutta.</h3>
          <br>
          <p>  Tarvittaessa saat meiltä myös suunnitteluapua katetyyppiä harkitessasi.
            Kirvesmiehemme korjaavat työn aikana paljastuvat lahovauriot ammattitaidolla. Teemme myös tarvittavat vesivahinkokorjaukset asunnoissa ja yläpohjissa.
          </p>

        </div><!-- End .content-->
      </div>

      <div class="col-xl-5 mb-5 d-flex align-items-center contained-image" style="border-radius: 30px;">
          <img src="{% static 'Katto2.jpg' %}" style="border-radius: 10px; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">
          <img src="{% static 'DSC_2395.JPG' %}" style="border-radius: 10px; max-width:100%; display: none;" alt="Description of the image" class="img-responsive carousel-image">
          <img src="{% static 'Katto3.jpg' %}" style="border-radius: 10px; max-width:100%; display: none;" alt="Description of the image" class="img-responsive carousel-image">
      </div>

      </div>




    <div class="col-sm-12 mt-5 align-items-center ">
      <div class="row">
        <div class="col-md-4 mt-4" style=" ">
          <div class="col-sm-12">
<img src="{% static 'Katto1.jpg' %}" style="overflow: hidden; position: relative; height: 280px; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">
<div class="col-sm-12  p-3" style="background-color:white; border-radius: 10px; border-bottom: 2px solid rgba(219, 10, 10, 1) !important;">

          <h4 style="color:rgba(219, 10, 10, 1)">Kattotyöt</h4>
          <p>I. Komsi Oy:n kokeneilta peltisepiltä onnistuu kaikenlaiset peltityöt isoista kattoremonteista haastaviin detaljiratkaisuihin.</p>
  <a class="btn btn-light text-white" style="background-color: black;">Lue Lisää</a>
</div>
          </div>
        </div>

        <div class="col-md-4 mt-4" style=" ">
          <div class="col-sm-12 contained-image">
<img src="{% static 'Kesken1.jpg' %}" style="overflow: hidden; position: relative; height: 280px; max-width:100%;" alt="Description of the image" class="img-responsive">
<div class="col-sm-12  p-3" style="background-color:white; border-radius: 10px; border-bottom: 2px solid rgba(219, 10, 10, 1) !important;">

          <h4 style="color:rgba(219, 10, 10, 1)">Korjausrakentaminen</h4>
          <p>I. Komsi Oy:n kokeneilta peltisepiltä onnistuu kaikenlaiset peltityöt isoista kattoremonteista haastaviin detaljiratkaisuihin.</p>
  <a class="btn btn-light text-white" style="background-color: black;">Lue Lisää</a>
</div>

          </div>
        </div>

        <div class="col-md-4 mt-4" style=" ">
          <div class="col-sm-12 contained-image">
<img src="{% static 'Valmis3.jpg' %}" style="overflow: hidden; position: relative; height: 280px; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">
<div class="col-sm-12  p-3" style="background-color:white; border-radius: 10px; border-bottom: 2px solid rgba(219, 10, 10, 1) !important;">

          <h4 style="color:rgba(219, 10, 10, 1)">Kattolumityöt</h4>
          <p>I. Komsi Oy:n kokeneilta peltisepiltä onnistuu kaikenlaiset peltityöt isoista kattoremonteista haastaviin detaljiratkaisuihin.</p>
  <a class="btn btn-light text-white" style="background-color: black;">Lue Lisää</a>
</div>
          </div>
        </div>

      </div>
    </div>

        </div>
  </section><!-- End About Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="IMG_3587.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/IMG_3588.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/IMG_3589.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/IMG_3591.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/luotettava-kumppani-sm.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/RALA_patevyys.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Palvelut</h2>
        <p>Olemme erikoistuneet sähköurakointiin, mutta meidän kautta onnistuu myös muut rakennuspalvelut.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Valaistusratkaisut</a></h4>
          <p class="description">Suunnittelemme ja asennamme tehokkaita ja energiatehokkaita valaistusjärjestelmiä</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Kaapelointi</a></h4>
          <p class="description">Suoritamme sähkökaapelointityöt ja varmistamme luotettavan sähkönsyötön</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Sähköhuolto</a></h4>
          <p class="description">Tarjoamme sähköisten järjestelmien ja laitteiden huolto- ja korjauspalveluita</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Sähkösuunnittelu</a></h4>
          <p class="description">luotettavaa, turvallista ja täsmällistä sähköjärjestelmien suunnittelua tarpeisiisi</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">Automaatiot</a></h4>
          <p class="description">Älykkäitä ja automatisoituja sähköjärjestelmiä tarpeidesi mukaan. </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Sähköasennukset</a></h4>
          <p class="description">Tarjoamme sähköasennuspalveluita uudisrakennuksiin, saneerauksiin ja korjausprojekteihin.</p>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="section-title">
        <h2>Arvosteluja</h2>
        <p>Muutama arvostelu jonka olemme saaneet asiakkailtamme</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Hyvä asiakaspalvelu</h4>
            <p>Patrik Tarhonen</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>Luotettava ja ammattitaitoinen rakennuspalveluyritys</h4>
            <p>Justus Lindholm</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>03</span>
            <h4>Nappi Suoritus</h4>
            <p>Jenna Tahvanainen</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Pricing Section
  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Hinnoittelu</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <h3>Developer</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Kysyttyjä kysymyksiä</h2>
        <p>Jos kaipaatte lisätietoja voitte olla suoraan yhteydessä sähköpostitse raksire@raksire.fi</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Teettekö sähkötöitä myös viikonloppuna? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Kyllä. Palvelemme asiakkaita sähkötöissä 24/7 Uudenmaan alueella ja teemme sähkötöitä myös viikonloppuisin.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Paljon on hinta sähköasennukselle?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laskutamme projektikohtaisesti ja myös tuntilaskutuksella. Kysy tarjous raksire@raksire.fi
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Teettekö myös muita rakennustöitä kun sähköurakointia?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Tarjoamme laajasti erilaisia rakennuspalveluita. Ota yhteyttä söhköpostilla tai soittamalla niin kerromme mielellämme lisää.
              </p>
            </div>
          </li>


        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->

{% endblock %}
