{% extends "new_base.html" %}
{% load static %}
<Head>

<!-- End Google Tag Manager -->
    <title>Kattotyöt ammattitaidolla - I.Komsi Oy</title>
    <meta name="description" content="Kattoremontti edessä? Korjaamme vanhaa ja asennamme uutta vuosien kokemuksella.">
    <!-- keywords -->
    <meta name="keywords" content="Kattotyöt, I.Komsi Oy, Komsi, Kattoremontti, Korjaustakentaminen">
</Head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YM61CGE6MW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YM61CGE6MW');
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">



<script>
document.addEventListener("DOMContentLoaded", function() {
    let currentImageIndex = 0;
    const images = document.querySelectorAll('.carousel-image');
    const totalImages = images.length;

    function showNextImage() {
        images[currentImageIndex].style.display = 'none';
        currentImageIndex = (currentImageIndex + 1) % totalImages;
        images[currentImageIndex].style.display = 'block';
    }

    setInterval(showNextImage, 2000);
});
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const iconBoxes = document.querySelectorAll('.icon-box');

    function checkVisibility() {
      const windowHeight = window.innerHeight;

      iconBoxes.forEach(box => {
        const boxTop = box.getBoundingClientRect().top;

        // If the box is in the viewport, add the 'visible' class
        if (boxTop < windowHeight && boxTop > 0) {
          box.classList.add('visible');
        }
      });
    }

    // Check visibility on scroll and on load
    window.addEventListener('scroll', checkVisibility);
    checkVisibility(); // Initial check on load
  });
</script>


<style>




  .contained-image {
      overflow: hidden;
      position: relative;
      height: 280px; /* Set your desired height */
      max-width: 100%;
      border-radius: 10px;
  }

  .image-container {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }

  .zoom-image {
    transform: scale(1.5);
  }


</style>



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNNGQ9KM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% block content %}


<!-- ======= Ensimmäinen kuva ja teksti ======= -->
<section id="hero" style="border-bottom: 15px solid gray; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="" role="">
        <!-- Slide 2 -->
        <div class="carousel-item active" style="background-image: url(/static/kattotyot.jpg);">
          <div class="first-texts">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Kaikki kattotyöt pääkaupunkiseudulla</h2>
              <h3 class="animate__animated animate__fadeInUp" style="color:white;">
                Kattoremontti edessä? Korjaamme vanhaa ja asennamme uutta vuosien kokemuksella.<br>Ota yhteyttä ja pyydä tarjous!
              </h3>
              <div>
                <a href="tel:0451876101" class="btn btn-md btn-light mt-5" style="background-color:black; color:white;">
                  Soita 045 1876101
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End-->


<main id="main">

  <!-- ======= Tietoa meistä ja 3 palvelua ======= -->
  <section id="about" class="about" style="background-color: white;">
    <div class="container">
      <div class="row no-gutters" style="border-bottom: 2px solid rgba(219, 10, 10, 1) !important;">
        <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex">
          <div class="p-3  d-flex flex-column">
            <h2>Meiltä löytyy ammattilaiset kaikille kattotyypeille.</h2>
            <br>
            <p>
              Tarvittaessa saat meiltä myös suunnitteluapua katetyyppiä harkitessasi.
              Kirvesmiehemme korjaavat työn aikana paljastuvat lahovauriot ammattitaidolla.
              Teemme myös tarvittavat vesivahinkokorjaukset asunnoissa ja yläpohjissa.
            </p>
          </div><!-- End .content-->
        </div>
        <div class="col-xl-5 mb-5 d-flex align-items-center contained-image" style="border-radius: 30px;">
          <img src="{% static 'Katto2.jpg' %}" loading="lazy" style="border-radius: 10px; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">
          <img src="{% static 'DSC_2395.JPG' %}" loading="lazy" style="border-radius: 10px; max-width:100%; display: none;" alt="Description of the image" class="img-responsive carousel-image">
          <img src="{% static 'Katto3.jpg' %}" loading="lazy" style="border-radius: 10px; max-width:100%; display: none;" alt="Description of the image" class="img-responsive carousel-image">
        </div>
      </div>

      <div class="col-sm-12 mt-5 align-items-centerx">
        <div class="row">
          <div class="col-md-4 mt-4 " >
            <div class="col-sm-12 image-container" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;" >
              <img src="{% static 'Katto1.jpg' %}" loading="lazy" style="width: 100%; height: 270px; object-fit: cover;" alt="Description of the image" class="zoom-image">
              <div class="col-sm-12 p-3" style="background-color:rgba(251, 251, 251, 1); border-top-radius: 10px; border-bottom: 2px solid rgba(219, 10, 10, 1); min-height:240px; !important;">
                <h4 style="black">Kattotyöt</h4>
                <p>Oli kyseessä jyrkkä tai loiva katto, monimutkaiset kulmat tai erikoiset yksityiskohdat, pystymme <span style="color: rgba(219, 10, 10, 1);"> räätälöimään ratkaisut tarpeidenne mukaan </span> ja varmistamaan, että työ tulee tehtyä huolella. Kattotöissä panostamme kestäviin ratkaisuihin, laadukkaisiin materiaaleihin.</p>

              </div>
            </div>
          </div>

          <div class="col-md-4 mt-4">
            <div class="col-sm-12 contained-image" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
              <img src="{% static 'Kesken1.JPG' %}" loading="lazy" style="width: 100%; height: 270px; object-fit: cover;" alt="Description of the image" class="img-responsive">
              <div class="col-sm-12 p-3" style="background-color:rgba(251, 251, 251, 1); border-bottom: 2px solid rgba(219, 10, 10, 1); min-height:240px; !important;">
                <h4 style="color:black">Korjausrakentaminen</h4>
                <p>Tarjoamme <span style="color:rgba(219, 10, 10, 1)">korjausrakentamisen</span> palveluita monipuolisesti niin pieniin kuin suuriin projekteihin, yksityisille ja yrityksille. Palvelumme kattaa kaiken katon korjauksista julkisivujen kunnostukseen ja sisätilojen remontteihin.</p>

              </div>
            </div>
          </div>

          <div class="col-md-4 mt-4">
            <div class="col-sm-12 contained-image" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
              <img src="{% static 'Lumityo.jpg' %}" loading="lazy" style="width: 100%; height: 270px; object-fit: cover;" alt="Description of the image" class="img-responsive carousel-image">
              <div class="col-sm-12 p-3" style="background-color:rgba(251, 251, 251, 1); border-bottom: 2px solid rgba(219, 10, 10, 1); min-height: 240px;">
                <h4 style="color:black">Lumityöt</h4>
                <p>Ammattitaitoiset tekijämme huolehtivat <span style="color:rgba(219, 10, 10, 1)">lumitöistä</span> nopeasti ja tehokkaasti, ja meillä on käytössä tarvittavat kalustot ja menetelmät, jotka mahdollistavat lumitöiden joustavan ja vaivattoman hoitamisen.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->


  <!-- ======= Clients Section ======= -->
  <section id="clients" class=" section-bg">
    <div class="container">

      <div class="row no-gutters" style="">

        <div class="col-xl-5 mb-5 d-flex align-items-center contained-image" style="border-radius: 30px;">
          <img src="{% static 'katto.JPG' %}" loading="lazy" style="border-radius: 10px; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">
        </div>

        <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex">
          <div class="p-3 text-left">
            <h2 class="text-left">Kotitalousvähennys kannattaa hyödyntää</h2>
            <br>
            <p>
              Kotitalousvähennys kattaa monenlaiset katon huolto- ja korjaustyöt, eikä rajoitu pelkästään asuinrakennuksen katolla tehtäviin töihin. Se koskee myös esimerkiksi läheisyydessä olevan puuvajan tai autotallin korjauksia. Tärkeää on, että vähennys koskee vain remontointi-, kunnossapito- ja perusparannustöitä eikä uudisrakentamista tai laajennuksia.<br><br>
              Verohelpotus kotitalousvähennyksen muodossa on käytettävissä yksityishenkilöille, jotka teettävät kotonaan katon remontti-, huolto- tai korjaustöitä.<br><br>"Kotitalousvähennyksen maksimi on 2 250 euroa henkilöltä. Omavastuu on 100 euroa vuodessa henkilöltä. Kotitalousvähennyksen saa vain työn osuudesta. Saat vähentää 40 % työn osuudesta, jos olet ostanut työn yritykseltä. Saat maksimivähennyksen, kun yritykselle maksamassasi laskussa on työn osuutta 5 875 euroa."<br>
              <a style="color:rgba(219, 10, 10, 1);" href="https://www.vero.fi/henkiloasiakkaat/vahennykset/kotitalousvahennys/">Lue Lisää</a>
            </p>
          </div><!-- End .content-->
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->



  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="row no-gutters" style="">
        <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex">
          <div class="p-3 content d-flex flex-column">
            <h2>Toiminta-alueemme on koko Suomi</h2>
            <br>
            <p>
              Toiminta-alueemme keskittyy ensisijaisesti Uudenmaan ja pääkaupunkiseudun alueelle, mutta toimimme myös muilla paikkakunnilla tarvittaessa.<br><br>
Teemme kattotöitä sekä uudis- että korjausrakennuskohteisiin ympäri Suomen. Korjaamme kaikenlaiset katot – harjakatot, tasakatot, aumakatot, pulpettikatot, mansardikatot, kilpikatot ja kupolikatot. Riippumatta katon materiaalista, koosta, jyrkkyydestä, rakennuksen korkeudesta, käyttötarkoituksesta tai sijainnista, tarjoamme asiantuntevaa apua. Meillä on vankka kokemus ja ammattitaito, ja laajat resurssimme mahdollistavat nopeat reagoinnit. <a href="/yhteystiedot/" style="color:red;">Ota yhteyttä</a> ja pyydä tarjous!
            </p>
          </div><!-- End .content-->
        </div>
        <div class="col-xl-5 mb-5 d-flex align-items-center contained-image" style="border-radius: 30px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.0929344805636!2d24.9632592776203!3d60.19574487504549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469209828328a8a1%3A0x8106a013cbc3a8e5!2sI.%20Komsi%20Oy!5e0!3m2!1sen!2sfi!4v1720251838256!5m2!1sen!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="row no-gutters" style="border-bottom: 2px solid rgba(219, 10, 10, 1) !important;">
        <div class="col-xl-8 ps-0 ps-lg-5 pe-lg-1 d-flex">
          <div class="p-3 content d-flex flex-column">
            <h2>Katon kuntokartoitus antaa tarkan arvion katon kunnosta</h2>
            <br>
            <p>
              Kuntotarkastuksen teettäminen on suositeltavaa, sillä sen avulla voidaan ajoissa tunnistaa virheet ja puutteet, jotka ajan myötä voivat aiheuttaa kiinteistön rakenteisiin merkittäviä ja haastavia vaurioita.<br><a href="/yhteystiedot/" style="color:red;">Ota yhteyttä</a>
            </p>
          </div><!-- End .content-->
        </div>
        <div class="col-xl-4 mb-5 d-flex align-items-center contained-image" style="border-radius: 30px;">
<img src="{% static 'Katto2.jpg' %}" style="border-radius: 10px; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">
        </div>
      </div>
      <div class="row mt-5 align-items-left">
        <div class="col-12 col-lg-4 col-md-6 icon-box" >
                    <div class="icon p-1" style="background-color:black">
                      <img src="{% static 'ikoni.webp' %}" loading="lazy" style="overflow: hidden; position: relative; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">

        </div>

          <h4 class="title" style=""><a href="">Kattoturva</a></h4>
          <p class="description" style="">Tietämyksellä ja kokemuksella varustetut ammattilaisemme I.Komsi Oy
ä huolehtivat kattoturvatuotteiden asennuksesta tinkimättömällä laadulla. Luotettavuutemme perustuu vuosikymmenten kokemukseen alalta, ja sitoutumisemme asiakastyytyväisyyteen näkyy jokaisessa tekemässämme työssä.<br>

</p>
        </div>


        <div class="col-12 col-lg-4 col-md-6 icon-box" >
          <div class="icon p-1" style="background-color:black">
            <img src="{% static 'ikoni.webp' %}" loading="lazy" style="overflow: hidden; position: relative; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">

</div>

          <h4 class="title"><a href="">Peltityöt</a></h4>
          <p class="description">Peltitöissäkin I.Komsi Oy erottuu osaamisellaan ja huippulaadullaan. Tarjoamme laajan valikoiman peltitöitä aina kattopelleistä sadevesijärjestelmiin, tinkimättömällä ammattitaidolla ja kestävillä materiaaleilla toteutettuna. Olipa kyseessä uuden katon pellitys tai vanhan korjaus, voit luottaa meihin tinkimättömän laadun ja asiakastyytyväisyyden varmistajana. </p>

        </div>


        <div class="col-12 col-lg-4 col-md-6 icon-box" >
                    <div class="icon p-1" style="background-color:black">
                      <img src="{% static 'ikoni.webp' %}" loading="lazy" style="overflow: hidden; position: relative; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">

        </div>

          <h4 class="title"><a href="">Katon kuntokartoitus</a></h4>
          <p class="description">Kattojen kunto olisi syytä tarkastaa säännöllisesti. Ennen isoja huoltotöitä tehty kuntokartoitus ehkäisee tekemästä vääriä korjausratkaisuja. Tarjoamme myös huoltosopimuksia, joissa teemme ensin kattavan kuntokartoituksen, ja tämän jälkeen seuraamme katon kunnon kehittymistä vuosittain. Vuositarkastusten yhteydessä korjaamme pienet puutteet ja teemme tarvittavat huoltotyöt kuten kourujen tyhjennykset.</p>
        </div>
        <div class="col-12 col-lg-4 col-md-6 icon-box" >
                    <div class="icon p-1" style="background-color:black">
                      <img src="{% static 'ikoni.webp' %}" loading="lazy" style="overflow: hidden; position: relative; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">

        </div>

          <h4 class="title"><a href="">Maalaus</a></h4>
          <p class="description">Kokeneet maalarimme käsittelevät ammattitaidolla rakennusten julkisivut, asuntojen sisäpinnat, porraskäytävät, aidat ja muut käsiteltävät pinnat. </p>
        </div>

        <div class="col-12 col-lg-4 col-md-6 icon-box" >
                    <div class="icon p-1" style="background-color:black">
                      <img src="{% static 'ikoni.webp' %}" loading="lazy" style="overflow: hidden; position: relative; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">

        </div>

          <h4 class="title"><a href="">Lumenpudotus</a></h4>
          <p class="description">I. Komsi Oy:lla on tehokkaat ja kattoja kunnioittavat lumityöntekijät. On vahvuutemme, että teemme ympärivuotisesti töitä katoilla. Henkilökuntamme tekee työt kattoja kunnioittaen ja vahinkoa aiheuttamatta.
<br>
Käytämme aina katoille sopivia työvälineitä.</p>
        </div>

        <div class="col-12 col-lg-4 col-md-6 icon-box" >
                    <div class="icon p-1" style="background-color:black">
                      <img src="{% static 'ikoni.webp' %}" loading="lazy" style="overflow: hidden; position: relative; max-width:100%;" alt="Description of the image" class="img-responsive carousel-image">

        </div>

          <h4 class="title"><a href="">Tiivistys</a></h4>
          <p class="description">Usein ammattitaitoisesti tehty tiivistystyö säästää asiakkaan suuremmilta kustannuksilta. Meiltä löytyy Suomen huippuosaajat saksalaisen Enke Werkin Enkopur-polyuretaanimassalla tehtäviin tiivistystöihin. </p>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->



  <!-- ======= Pricing Section
  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Hinnoittelu</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <h3>Developer</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Clients Section
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row">

        <div class="col-12 col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/Vahvimmat.webp" class="img-fluid" alt="">
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/luotettava-kumppani-sm.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/logo.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section> End Clients Section -->

</main><!-- End #main -->

{% endblock %}
Yhteistyo
