{% extends "new_base.html" %}
{% load static %}
<Head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MNNGQ9KM');</script>
<!-- End Google Tag Manager -->
    <title>Suoritamme pienet ja suuret kattotyöt - I.Komsi Oy</title>
    <meta name="description" content="Me toteutamme laajasti erilaisia sähköasennusprojekteja sekä yrityksille että yksityisasiakkaille tarjoten palveluitamme myös viikonloppuisin">
    <!-- keywords -->
    <meta name="keywords" content="Sähkötyöt, sähköasennukset, uusimaa, referenssit, sähköasennus">
</Head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
<!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVZV4SJT8D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GVZV4SJT8D');
  gtag('config', 'AW-11171081614');
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    let currentImageIndex = 0;
    const images = document.querySelectorAll('.carousel-image');
    const totalImages = images.length;

    function showNextImage() {
        images[currentImageIndex].style.display = 'none';
        currentImageIndex = (currentImageIndex + 1) % totalImages;
        images[currentImageIndex].style.display = 'block';
    }

    setInterval(showNextImage, 2000);
});
</script>

<style>
  .contained-image {
      overflow: hidden;
      position: relative;
      height: 280px; /* Set your desired height */
      max-width: 100%;
      border-radius: 10px;
  }

  .zoom-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-out; /* Smooth transition for zoom effect */
}

.zoom-image:hover {
    transform: scale(1.1); !important /* Zoom in effect on hover */
}

</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const observerOptions = {
      threshold: 0.1
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
          observer.unobserve(entry.target);
        }
      });
    }, observerOptions);

    const fadeIns = document.querySelectorAll('.fade-in');
    fadeIns.forEach(fadeIn => {
      observer.observe(fadeIn);
    });
  });
</script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNNGQ9KM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% block content %}


<!-- ======= Ensimmäinen kuva ja teksti ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="" role="">
        <!-- Slide 2 -->
        <div class="carousel-item active" style="background-image: url(/static/DSC_2419.JPG);">
          <div class="first-texts">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Pyydä tarjous rakennustöistä</h2>
              <h3 class="animate__animated animate__fadeInUp" style="color:white;">
                Katto- ja korjausrakentamista vuodesta 1998<br>
                Soita: +358 45 1876101
              </h3>
              <div>
                <a href="mailto:myynti@komsi.net" class="btn btn-md btn-light mt-5" style="background-color:black; color:white;">
                  Lähetä sähköposti
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End-->


<main id="main">

  <!-- ======= Tietoa meistä ja 3 palvelua ======= -->
  <section id="about" class="about" style="background-color: white;">
    <div class="container">
      <div class="row no-gutters" style="border-bottom: 2px solid rgba(219, 10, 10, 1) !important;">
        <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex">
          <div class="p-3  d-flex flex-column">
            <h2>Katto- ja korjausrakentaminen – Luotettava asiantuntija palveluksessasi

</h2>
            <br>
            <p>

              I.Komsi Oy on erikoistunut katto- ja korjausrakentamiseen. Oli kyseessä sitten suurempi tai pienempi rakennushanke, olemme apunasi. Yksi ydinosaamisalueistamme on korjausrakentaminen. Olipa kyseessä kattoremontti, kylpyhuoneremontti tai jokin muu korjaus- tai kunnostustyö, voit luottaa ammattitaitoiseen tiimiimme.<br><br>
            </p>
              <h5><b>Ota  yhteyttä:</b><br><br>

              <b>Soittamalla:</b> +358 451876101 <br>
              <b>Sähköpostilla:</b> myynti@komsi.net <br><br>


              Suunnitellaan yhdessä tarpeisiisi sopiva ratkaisu!

              </h5>
          </div><!-- End .content-->
        </div>
        <div class="col-xl-5 mb-5 d-flex align-items-center contained-image" style="border-radius: 30px;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.0929344805636!2d24.9632592776203!3d60.19574487504549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469209828328a8a1%3A0x8106a013cbc3a8e5!2sI.%20Komsi%20Oy!5e0!3m2!1sen!2sfi!4v1720251838256!5m2!1sen!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  <!-- ======= Clients Section ======= -->






  <!-- ======= Pricing Section
  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Hinnoittelu</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <h3>Developer</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Clients Section
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row">

        <div class="col-12 col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/Vahvimmat.webp" class="img-fluid" alt="">
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/luotettava-kumppani-sm.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-12 col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/static/logo.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section> End Clients Section -->

</main><!-- End #main -->

{% endblock %}
Yhteistyo
